A user '{{ user.fullname or user.name }}' has added a comment to one of your discussions on {{ site_title }}.

The dataset is: {{ dataset.title }}
The discussion is: {{ issue_subject }}
The comment is:

> {{ comment.comment|wordwrap(width=76)|replace('\n', '\n> '|safe) }}

In order to respond to the comment, please see the discussion at: {{ h.url_for('issues.show_issue', dataset_id=dataset.name, issue_number=issue.number, qualified=True) }}. Once the discussion has been resolved, click 'Close discussion'.

Thank you,

The {{ site_title }} team

--

Discussion: {{ h.url_for('issues.show_issue', dataset_id=dataset.name, issue_number=issue.number, qualified=True) }}
Dataset: {{ h.url_for('dataset.read', id=dataset.name, qualified=True) }}
